@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

.navbar{
    font-family: 'Lato', sans-serif;
    z-index: 10;
    }

.avatar {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
       
    }
.navbar-brand{
    margin: 0px 20px;
}
