.contact-detail{
    width:100% ;
    word-wrap: break-word;
    max-width: 800px;
}

img{
    margin: 20px 0px;
    -webkit-animation-delay: .3s;
}

.name{
    -webkit-animation-delay: .5s;
}

.proffession{
    -webkit-animation-delay: .7s;
}
.contact{
    -webkit-animation-delay: .9s;
}

.social{
    -webkit-animation-delay: 1.1s;
}

.social-icon:hover{
    color: #117a65;
}
.proffesionalProfile{    
    margin-top:30px;
    font-size:100%;
    text-align: center;
    -webkit-animation-delay: 1.3s;
}



