
<img src="..\..\assets\photoid.jpg" class="rounded-circle animated fadeInDown " style="display:inline ; width:60%;" alt="Bird">

<h2 class=" name animated fadeInDown">{{name}}</h2>

<p class="proffession animated fadeInDown">{{designation}}</p>



<div class="contact-detail">
    <p class="contact animated fadeInDown" style="margin-top:30px;">
        <i class="fas fa-mobile-alt animated"></i> {{phoneNumber}}
        <br>
        <i class="fas fa-envelope animated"></i>{{email}}</p>

    <div class="social animated bounceIn" style="margin-top:30px;">
        <span class="social-icon">
            <i class="fab fa-github-square fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-facebook fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-instagram fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-skype fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-linkedin fa-2x" style=" margin: 0px 5px"></i>
        </span>
    </div>


    <p class="proffesionalProfile animated fadeInUp">{{aboutMe}}
    </p>

</div>

