<div class="row">

  <div class="col-sm-6">
    
    <div class="heading">
      <h5>Professional Profile</h5>
    </div>
    <p style="text-align: justify;">I am a passionate, highly enthusiastic IT professional / designer. Have strong desire for knowledge and challenges. Actively
      involved with the latest updates in technology and designing world. A fast learner who picks up new skills quickly.
      Self-educated, Creative, Analytical, Self-motivated and Versatile person. Thinking outside the box.</p>
    <a href="" class="ui-box topBottom-leftRightCorner">
      <span class="ui-border-element">
        <i class="fa fa-stop-circle-o" aria-hidden="true"></i> Stop Circle</span>
    </a>
  </div>

  <div class="col-sm-6">

    <div class="heading">
      <h5>Graphical Skills</h5>
    </div>
    <h6 id="hps">Adobe Photoshop</h6>
    <div class="progress">
      <div class="progress-bar progress-bar-striped animated slideInLeft " id="ps" role="progressbar" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100" style="width:90%">
        95%
      </div>
    </div>
    <h6 id="hai">Adobe Illustrator</h6>
    <div class="progress">
      <div class="progress-bar progress-bar-striped animated slideInLeft bg-success" id="ai" role="progressbar" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100" style="width:40%">
        40%
      </div>
    </div>
    <h6>Adobe Aftereffect</h6>
    <div class="progress">
      <div class="progress-bar progress-bar-striped animated slideInLeft bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100" style="width:40%">
        40%
      </div>
    </div>
    <h6>Adobe Premiere</h6>
    <div class="progress">
      <div class="progress-bar progress-bar-striped animated slideInLeft bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100" style="width:40%">
        40%
      </div>
    </div>
    <h6>Cinema 4D</h6>
    <div class="progress">
      <div class="progress-bar progress-bar-striped animated slideInLeft bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100" style="width:40%">
        40%
      </div>
    </div>
  
  </div>